/* reset.css is here */
*{padding: 0;margin: 0;box-sizing: border-box;scroll-behavior: smooth;}
fieldset,img{border:0;}
figure {margin: 0;}
img{border:0;max-width: 100%;display: block;height: auto;}
video{border:0;max-width: 100%;display: block;height: auto; box-shadow: 2px 8px 20px #00000033;border-radius: 2px;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
q:before,q:after {content:'';}
header,nav,section,article,aside,footer,hgroup,figure,main {display: block; }
a {text-decoration: none !important;display:  block;outline: none;transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;}
.no_bor{border:0 none !important; }
ol,ul{list-style: none;margin:  0;}
h1,h2,h3,h4,h5,h6 {}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
p {}
.clear:after {content: '';clear: both;font-size: 1px;line-height: 1px;display: block;height: 0;}
.btn:focus{color:#fff;}
.doit-clr {color: #FDD957;display: inline-block;}
/* reset.css ends here */

body { }
.wrapper {width: 100%;}
.container {max-width: 1742px;margin: 0 auto; padding: 0 91px}
/*--Header Start Here--*/
header { }
.head_in { }
.head_inner {padding: 22px 0px 93px 0px;} 
.logo {float: left;padding: 4px 0 0;}
.logo a img{width: 101px;height: 38px;}
.head_right {float: right;}
nav {float: left;padding: 17px 146px 0 0;}
nav > ul {font-size: 0;margin: 0 -40px;}
nav > ul > li{display: inline-block;padding: 0 36px;position: relative;}
nav > ul > li > a{font-size: 14px;line-height: 23px;color: #303952;font-family: 'Nunito Sans', sans-serif;font-weight: 400;letter-spacing: 0.2px;}
nav  ul li a.active{color: #576FD8;font-family: 'Nunito Sans', sans-serif;font-weight: 700; }
nav  ul li a:hover{font-weight: 700;color: #576FD8;}
.dropdown {width: 180px;display: none;top: 96%;position: absolute; z-index: 99;padding: 0 8px;background: #e8e7e6;}
nav ul li a i{padding: 0 0 0 4px;}
.dropdown ul{}
.dropdown ul li{display: block;padding: 0 5px 5px;}
.dropdown ul li  a {font-size: 17px;line-height: 23px;color: #303952;font-family: 'Nunito Sans', sans-serif;font-weight: 400;letter-spacing: 0.2px; }
.dropdown ul li  a:hover{}
.log_in {float: right;}
.log_in ul{font-size: 0;margin: 0 -6px;}
.log_in ul li{display: inline-block;padding: 0 6px;}
.log_in ul li a{display: block;width: 143px;height: 46px;background: #ffffff;font-size: 15px;line-height: 46px;color: #6176DE;text-align: center;box-shadow: 0px  1px 3px #00000033;border-radius: 35px;font-family: 'Nunito Sans', sans-serif;font-weight: 800;letter-spacing: 0;text-transform: uppercase;}
.log_in ul li a.active{background: #556DD6;color: #FFFFFF; }
.log_in ul li a:hover {background: #556DD6;color: #ffffff;}
/*--Header End Here--*/
/*--Banner Start Here--*/
.banner {position: relative;}
.banner:after {content: '';position: absolute;top: 0;left: 13px;background: url(../images/img28.png)no-repeat;width: 73px;height: 205px;}
.banner:before {content: '';position: absolute;top: -63%;right: 0;background: url(../images/img2.png)no-repeat;width: 728px;height: 1030px;z-index: -1;background-size: cover;}
.banner_in {position: relative;}
.banner_in:after {content: '';position: absolute;top: 87px;right: -53px;background: url(../images/img3.png)no-repeat;width: 176px;height: 170px;}
.banner_in:before {content: '';position: absolute;bottom: 39%;right: 0;background: url(../images/img5.png)no-repeat;width: 83px;height: 131px;background-size: cover;}
.banner_inner {padding: 0 80px 224px 80px;position: relative;}
.banner_inner:after {content: '';position: absolute;top: -7%;right: 58px;background: url(../images/img4.png)no-repeat;width: 130px;height: 113px;}
.banner_inner:before {content: '';position: absolute;top: 13%;right: 19%;background: url(../images/img6.png)no-repeat;width: 174px;height: 117px;}
.banner_left {float: left;width: 49%;}
.banner_left h1{font-size: 43px;line-height: 61px;color: #303952;font-family: 'Montserrat', sans-serif;font-weight: 800;letter-spacing: 1px;padding: 0 0 22px;margin: 0 0 18px;position: relative;}
.banner_left h1:after {content: '';position: absolute;bottom: 0;left: 0;background: url(../images/img21.png)no-repeat;width: 68px;height: 6px;background-size: cover;}
.banner_left p{font-size: 24px;line-height: 30px;color: #747D8C;font-family: 'Nunito Sans', sans-serif;font-weight: 600;padding: 0 0 42px;}
.banner_left ul{padding: 0 0 50px;}
.banner_left ul li{padding: 0 0 7px;}
.banner_left ul li span{font-size: 19px;line-height: 31px;color: #303952;font-family: 'Nunito Sans', sans-serif;font-weight: 700;padding: 0 0 0 30px;position: relative;display: block;}
.banner_left ul li span:after{content: '';position: absolute;top: 0;left: 0;background: url(../images/circle.png)no-repeat;width: 18px;height: 18px;background-size: cover;}
.banner_left > span{font-size: 24px;line-height: 28px;color: #303952;font-family: 'Nunito Sans', sans-serif;font-weight: 700;letter-spacing: 0;padding: 0 0 7px;display: block;}
.banner_left span strong{display: inline-block;color: #1DD1A1;font-weight: 900;}
.best {position: relative; }
.best input{display: block;width: 70%;height: 55px;box-shadow: 2px 8px 20px #00000033;border: 0.2px solid #bcbdbf;border-radius: 35px;outline: none;font-size: 20px;line-height: 27px;color: #596275;font-family: 'Nunito Sans', sans-serif;font-weight: 300;padding: 0 23px;}
.best a{display: block;width: 170px;height: 55px;background: #556DD6;font-size: 15px;line-height: 55px;color: #ffffff;font-family: 'Nunito Sans', sans-serif;font-weight: 800;box-shadow: 0px 1px 3px #00000033;border-radius: 35px;text-align: center;position: absolute;top: 0;right: 20%;text-transform: uppercase;}
.banner_right {float: right;width: 48%;padding: 26px 0 0;position: relative;}
/* .banner_right:after {content: '';position: absolute;bottom: -27%;right: -14px;background: url(../images/img7.png)no-repeat;width: 78px;height: 82px;background-size: cover;} */
.banner_right figure img{width: 100%; }
/*--Banner End Here--*/
/*--Product Start Here--*/
.product { }
.product_in { }
.product_inner {position: relative;}
.product_inner:after {content: '';position: absolute;top: 40px;left: -26%;background: url(../images/img8.png)no-repeat;width: 737px;height: 750px;z-index: -1;background-size: cover;}
.product_inner h4{font-size: 28px;line-height: 31px;color: #747d8c;text-align: center;position: relative;padding: 0 0 14px;margin: 0 0 115px;font-family: 'Montserrat', sans-serif;}
.product_inner h4:after{content: '';position: absolute;bottom: 0;left: 0;right: 0;margin: 0 auto;background: url(../images/img21.png)no-repeat;width: 89px;height: 9px;}
.product_left {float: left;width: 56.7%;}
.product_left figure img{}
.product_right {float: right;width: 42%;}
.product_right_in {max-width: 428px;margin: 0 auto;}
.product_right_in h5{font-size: 18px;line-height: 19px;color: #556DD6;font-family: 'Nunito Sans', sans-serif;font-weight: 700;letter-spacing: 2.4px;padding: 0 0 13px;}
.product_right_in h2{font-size: 36px;line-height: 43px;color: #303952;font-family: 'Montserrat', sans-serif;font-weight: 700;letter-spacing: 0.4px;padding: 0 0 36px;}
.product_right_in ul{padding: 0 0 19px;}
.product_right_in ul li{padding: 0 0 28px;}
.product_right_in ul li span{display: block;font-size: 22px;line-height: 22px;color: #303952;font-family: 'Nunito Sans', sans-serif;font-weight: 400;position: relative;padding: 0 0 0 39px;}
.product_right_in ul li span:after{content: '';position: absolute;top: 2px;left: -2px;width: 6px;height: 6px;border-radius: 100%;border: 3px solid #556DD6;}
.product_right_in a{display: block;width: 140px;height: 45px;background: #5c72da;border-radius: 35px;font-size: 15px;line-height: 45px;color: #ffffff;text-align: center;text-transform: uppercase;font-family: 'Nunito Sans', sans-serif;font-weight: 800;}
.guide {padding: 144px 0 142px;position: relative;}
.guide:after {content: '';position: absolute;top: 0;right: 0;background: url(../images/img10.png)no-repeat;width: 638px;height: 662px;z-index: -1;background-size: cover;}
.guide_left {float: left;width: 40%;}
.guide_right {float: right;width: 58.3%;padding: 19px 0 0;}
.guide_right figure img {width: 100%;}
.pulse {padding: 0 0 231px;position: relative;}
.pulse:after{content: '';position: absolute;top: -11%;left: -22.6%;background: url(../images/img12.png)no-repeat;width: 697px;height: 700px;z-index: -1;background-size: cover;}

.pulse_left {float: left;width: 57.1%;}
.pulse_left figure img { }
.pulse_right {float: right;width: 40%;}
.pulse_in {max-width: 552px;}
/*--Product End Here--*/
/*--Lorem Start Here--*/
.lorem { background: #556DD6;}
.lorem_in {position: relative;}
.lorem_in:after {content: '';position: absolute;top: 40px;left: 0;background: url(../images/img15.png)no-repeat;width: 76px;height: 126px;}
.lorem_in:before{content: '';position: absolute;bottom: 20%;left: -30px;background: url(../images/img18.png)no-repeat;width: 122px;height: 205px;}
.lorem_inner {max-width: 1566px;margin: 0 auto;padding: 31px 0 44px;position: relative;}
.lorem_inner:after {content: '';position: absolute;top: 39px;left: 41px;background: url(../images/img16.png)no-repeat;width: 76px;height: 49px;background-size: contain;}
.lorem_inner:before {content: '';position: absolute;bottom: 43px;right: 36px;background: url(../images/img19.png)no-repeat;width: 76px;height: 57px;background-size: contain;}
.lorem_inner h2 {font-size: 38px;line-height: 50px;color: #ffffff;font-family: 'Montserrat', sans-serif;font-weight: 700;text-align: center;letter-spacing: 2.3px;padding: 0 0 19px;margin: 0 0 15px;position: relative;}
.lorem_inner h2:after{content: '';position: absolute;bottom: 0;left: 0;right: 0;margin: 0 auto;background: url(../images/img17.png)no-repeat;width: 88px;height: 10px;}
.lorem_left {float: left;width: 36.6%;padding: 0 0 0;}
.lorem_left figure img{height: 423px;width: 100%;}
.lorem_right {float: right;width: 63%;}
.lorem_right_in {padding: 33px 0 0;}
.lorem_right_inner {position: relative;}
.lorem_right_inner:after {content: '';position: absolute;top: 50%;right: 0;left: 0;margin: 0 auto;width: 50%;height: 2px;background: #ffffff;}
.lorem_right_in img{margin: 0 0 27px;width: 140px;height: 73px;}
.lorem_right_in p{font-size: 25px;line-height: 29px;color: #ffffff;font-family: 'Nunito Sans', sans-serif;font-weight: 400;padding: 0 0 42px 21px;}
.lorem_right_in span{font-size: 18px;line-height: 27px;color: #ffffff;font-family: 'Nunito Sans', sans-serif;font-weight: 800;font-style: italic;display: block;padding: 0 0 0 22px;}
.lorem_right_in span strong{display: block;text-transform: uppercase;}
.slider .slick-dots{bottom: -14%x;left: 0;top: auto;}
.slider .slick-dots li button{width: 13px;height: 13px;outline: 0;border-radius: 100%;background: #a9b5e9;padding: 0;}
.slider .slick-dots li.slick-active button{background: #ffffff;}
.slider .slick-next:before{
    content: "\f178";
    font-size: 23px;
    line-height: 35px;
    color: #556dd6;
    font-family: "FontAwesome";
    }
.slider .slick-next{
    right: 63px;
    width: 35px;
    height: 35px;
    top: 17%;
    bottom: auto;
    border-radius: 100%;
    background: #ffffff;
    }
.slider .slick-prev{
    right: 19%;
    z-index: 1;
    width: 35px;
    height: 35px;
    top: 17%;
    left: auto;
    border-radius: 100%;
    bottom: auto;
    background: #ffffff;
    }
.slider .slick-prev:before{
    content: "\f177";
    font-size: 20px;
    line-height: 35px;
    color: #556dd6;
    font-family: "FontAwesome";
    }
/*--Lorem End Here--*/
/*--Blog Start Here--*/
.blog { }
.blog_in {max-width: 1140px;margin: 0 auto;padding: 36px 0 77px;}
.blog_in h2 {font-size: 40px;line-height: 50px;color: #303952;font-family: 'Montserrat', sans-serif;font-weight: 700;text-align: center;position: relative;padding: 0 0 15px;margin: 0 0 11px;}
.blog_in h2:after {content: '';position: absolute;bottom: 0;left: 0;right: 0;margin: 0 auto;background: url(../images/img21.png)no-repeat;width: 87px;height: 9px;}
.blog_in p {font-size: 19px;line-height: 30px;color: #747D8C;font-family: 'Nunito Sans', sans-serif;font-weight: 800;text-align: center;letter-spacing: 0px;}
.blog_inner {padding: 41px 0 0;}
.blog_inner ul{font-size: 0;margin: 0 -50px;}
.blog_inner ul li{display: inline-block;width: 33.33%;padding: 0 50px;}
.blog_inner ul li img{}
.blog_inner > a{display: block;width: 320px;height: 45px;background: #1dd1a1;font-size: 14px;line-height: 45px;color: #ffffff;text-align: center;padding: 0 0 0;margin: 55px auto 0;border-radius: 35px;}
/*--Blog End Here--*/
/*--Footer Start Here--*/
footer { }
.foto_top { background: #303952;}
.foto_top_in {padding: 38px 0 22px;max-width: 1530px;margin: 0 auto;}
.foto_top_in h2{font-size: 39px;line-height: 59px;color: #ffffff;font-family: 'Montserrat', sans-serif;font-weight: 700;text-align: center;padding: 0 0 66px;}
.foto_top_left {float: left;padding: 0 0 0 45px;}
.foto_top_left ul{font-size: 0; }
.foto_top_left ul li{padding: 0 0 28px;}
.foto_top_left ul li a{font-size: 20px;line-height: 28px;color: #ffffff;display: block;padding: 0 0 0 42px;position: relative;font-family: 'Open Sans', sans-serif;font-weight: 600;}
.foto_top_left ul li a.call:after{content: "\f095";position: absolute;top: -5px;left: 11px;font-size: 30px;line-height: 45px;color: #63d391;font-family: 'FontAwesome';}
.foto_top_left ul li a.mail:after {content: "\f003";position: absolute;top: -8px;left: 11px;font-size: 24px;line-height: 44px;color: #63d391;font-family: 'FontAwesome';}
.foto_top_left ul li p{font-size: 20px;line-height: 24px;color: #ffffff;padding: 0 0 0 42px;position: relative;font-family: 'Open Sans', sans-serif;font-weight: 600;}
.foto_top_left ul li p:after {content: "\f041";position: absolute;top: 0;left: 11px;font-size: 28px;line-height: 46px;color: #63d391;font-family: 'FontAwesome';}
.foto_top_right {float: right;}
.foto_top_right ul{font-size: 0; }
.foto_top_right ul li{display: inline-block;padding: 0 10px;}
.foto_top_right ul li a{display: block;width: 35px;height: 35px;border-radius: 100%;background: #ffffff;text-align: center;}
.foto_top_right ul li a i{font-size: 18px;line-height: 35px;color: #303952;}
.foto_bottom {background: #2F3542; }
.foto_bottom_in {padding: 20px 0 29px;max-width: 550px;margin: 0 auto;}
.foto_bottom_in a {font-size: 16px;line-height: 27px;color: #ffffff;font-family: 'Nunito Sans', sans-serif;font-weight: 400;text-align: center;display: inline-block;float: left;}
.foto_bottom_in  span {font-size: 16px;line-height: 27px;color: #ffffff;font-family: 'Nunito Sans', sans-serif;font-weight: 400;text-align: center;display: inline-block;float: right;}
/*--Footer End Here--*/

.menu_icon{display: none;}
.side_bar{display: none;}
/*--Responsive Start Here--*/

@media only screen and (max-width: 1765px){
    .container {max-width: 100%;padding: 0 91px;}
    nav {padding: 17px 66px 0 0;}
    .banner_inner {padding: 0 80px 184px 80px;}
    .banner:before {/* width: 750px; *//* background-size: cover; *//* right: 0; *//* top: -50%; *//* height: 1050px; */}
    .banner_in:before {/* right: 0; */}
    .banner_right:after {/* right: 0; */}
    .banner_in:after {right: 0;}
    .best input {/* width: 811px; */}
    .best a {/* right: 0; */}
    .product_inner:after {/* top: 5%; *//* width: 850px; *//* height: 860px; *//* background-size: cover; */}
    .guide:after {/* top: 0; *//* width: 850px; *//* height: 860px; *//* background-size: cover; *//* right: 0; */}
    .pulse:after {/* top: -10%; *//* width: 850px; *//* height: 860px; *//* background-size: cover; */}
    .blog_inner ul {}
    .foto_top_left ul li a.call:after {/* left: 0; */}
    .foto_top_left ul li a.mail:after {/* left: 0; */}
    .foto_top_left ul li p:after {/* left: 0; */}
    
    .lorem_left figure img{/* height: auto; */}
}
@media only screen and (max-width: 1348px){
    .container {max-width: 100%;padding: 0 20px;}
    nav{padding: 17px 0 0 0;}
    nav ul {margin: 0;}
    nav ul li {padding: 0 15px;}
    .banner_left h1 {font-size: 36px;line-height: 44px;}
    .banner_left p br {display: none;}
    .banner_right {padding: 0;}
    .banner:before {width: 850px;}
    .lorem_left figure img {height: auto;}
    .lorem_right_in img {margin: 0 0 10px;}
    .lorem_right_in p {font-size: 18px;line-height: 26px;padding: 0 0 30px;}
    .lorem_right_in span {padding: 0;}
    .blog_inner ul {margin: 0;}
    .lorem_in:before {left: 0;}
    .best input {width: 100%;}
    .best a {right: 0;}
}
@media only screen and (max-width: 1125px){
    .head_inner {padding: 29px 0 80px;}
    nav ul li{padding: 0 10px;}
    nav ul li a {font-size: 15px;}
    .banner:before {top: -41%;width: 630px;height: 700px;}
    .banner_in:after {top: 0;}
    .banner_in:before {bottom:50%; }
    .banner_inner {padding: 0 0 100px;}
    .product_inner:after {width: 615PX;height: 615PX;}
    .product_right_in h2 {font-size: 32px;line-height: 42px;}
    .product_right_in ul li span {font-size: 22px;line-height: 26px;}
    .guide:after {width: 470px;height: 615px;}
    .guide {padding: 100px 0 120px;}
    .pulse:after {width: 615px;height: 615px;}
    .pulse:before {left: 0;}
    .blog_in p br {display: none;}
    .blog_inner ul li {padding: 0 30px;}
    .pulse {padding: 0 0 100px;}
}
@media only screen and (max-width: 991px){
    .head_right {display: none;}
    .head_inner {padding: 29px 0 30px;}
    .dropdown{left: 0;right: 0;margin: 0 auto;top: 30px;position: static;width: 100%;}
    .dropdown ul li a{color: #000000;}
    .banner_left {float: none;width: 100%;padding: 125px 0 0;}
    .banner_right {float: none;width: 100%;}
    .banner:before {top: -20%;}
    .banner_right:after {bottom: -10%;right: 0;}
    .product_left {float: none;width: 100%;}
    .product_inner h4 {padding: 0 0 54px;}
    .product_right {float: none;width: 100%;}
    .product_right_in {max-width: 100%;padding: 75px 0 0;}
    
    .guide_left {float: none;width: 100%;}
    .guide_right {float: none;width: 100%;}
    .pulse_right { float: none;width: 100%;}
    .pulse_left {float: none;width: 100%; }
    .lorem_left {float: none;width: 100%;  }
    .lorem_right {float: none;width: 100%;  }
    .blog_inner ul li {display: block;width: 100%;padding: 0 0 30px;}
    .blog_inner ul li img {width: 100%;}
    .foto_top_left {float: none;width: 100%;padding: 0;}
    .foto_top_right {float: none;width: 100%;padding: 20px 0 0;}
    .foto_bottom_in a {float: none;display: block;}
    .foto_bottom_in span {float: none;display: block;}
    .lorem_in:before {bottom: 50%;}
    
    .menu_icon {display: block; float: right; background: none; border: 0 none; cursor: pointer; outline: none !important; margin: 0px 0 0 0;position: absolute;top: 35px;right: 15px;z-index: 1;}
	.menu_icon span {width: 35px; height: 3px; background: #000000; display: block; position: relative;}
	.menu_icon span + span {margin: 6px 0 0 0;} 
    .side_bar{position: fixed;top: 0;height: 100%;width: 250px;z-index: 99;transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;overflow: auto;background: #ffffff;right:  -250px;display: block;}
	.open_menu .side_bar {right: 0; }
	.open_menu .menu_icon span:nth-child(1) {transform: rotate(45deg); top: 9px;}
	.open_menu .menu_icon span:nth-child(2) {opacity: 0;}
	.open_menu .menu_icon span:nth-child(3) {transform: rotate(-45deg); top: -9px;}
	.wrapper {position: relative;left: 0;width: 100%;transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;}
	.open_menu .wrapper {left: -250px;position: fixed;}
    .side_bar .head_right {display: block;}
    nav {float: none;}
    nav > ul {padding: 40px 0 0;}
    nav ul li {display: block;padding: 0 0 10px;text-align: center;}
    .log_in {float: none;padding: 30px 0 0;text-align: center;}
    .log_in ul li {padding: 0 0 25px;}
    
    .blog_inner ul li img {height: auto;}
    
    .slider .slick-next{top: 25%;}
    .slider .slick-prev{top: 25%;}
    
    
}
@media only screen and (max-width: 767px){
    .banner:before {top: -20%;width: 550px;height: 620px;}
    .banner_left p {padding: 0 0 20px;}
    .banner_left ul {padding: 0 0 20px;}
    .banner_inner {padding: 0 0 60px;}
    .product_right_in h2 {padding: 0 0 20px;}
    .product_right_in ul li {padding: 0 0 20px;}
    .pulse:after {width: 540px;height: 540px;}
    .lorem_inner h2 {font-size: 30px;line-height: 36px;}
    
    .slider .slick-prev {right: 20%;}
    .lorem_right_inner:after{width: 30%;}
}
@media only screen and (max-width: 599px){
    .best a {width: 175px;}
    .lorem_right_in {padding: 20px 0 0;}
    .product_inner:after {width: 450px;height: 490px;}
    .slider .slick-next {right: 0;}
    
    .slider .slick-prev {top: 15%;}
    .slider .slick-next {top: 15%;}
}
@media only screen and (max-width: 479px){
    .blog_inner a {width: 275px;}
    .banner:before {width: 360px;top: -16%;height: 450px}
    .product_inner h4 {margin: 0 0 45px;}
    .product_inner:after {width: 320px;height: 320px;}
    .guide {padding: 45px 0 100px;}
    .guide:after {width: 320px;height: 320px;}
    .pulse:after {width: 320px;height: 320px;}
    .foto_top_left ul li a {font-size: 20px;}
    .foto_top_left ul li p {font-size: 20px;}
    .foto_bottom_in span {font-size: 18px;}
    .foto_bottom_in a {font-size: 18px;}
    .foto_top_in h2 {font-size: 40px;line-height: 44px;padding: 0 0 25px;}
    .product_right_in h2 {font-size: 23px;}
    .product_right_in ul li span {font-size: 18px;}
    .banner_left ul li span {font-size: 18px;line-height: 26px;}
    .best a {width: 130px;font-size: 14px;}
    .best input {padding: 0 15px;font-size: 13px;}
    .banner_left > span {font-size: 24px;}
    .banner_left h1 {font-size: 24px;line-height: 28px;}
    .banner_in:before {bottom: auto;top: 15%;}
    .lorem_right_inner:after {display: none;}
    
}
@media screen and (min-width:991px) {
    nav > ul > li:hover .dropdown{display: block;}
}